<article nz-typography>
  <h1 class = "main-title" nz-typography>Kompyuter grafikasi va ularning turlari</h1>
  <h3>Reja:</h3>
  <h4>1. Kompyuter grafikasi va uning turlari </h4>
  <h4>2. CorelDraw dasturining ishchi muhiti va imkoniyatlari </h4>
  <h4>3. CorelDraw dasturi ko’rinishini moslashtirish, ma’lumotlar va hujjat oynalari, hujjatlar bilan bajariladigan amallar </h4>
  <h4>4. Corel Draw dasturlari pakеti haqida umumiy ma’lumоtlar </h4>
  <h4>5. Grafika paneli. Interaktiv instrumentlar. </h4>
  <h4>6. Turli shakl va o`lchamdagi chiziqlar chizish. </h4>
  <h4>7. Badiiy vositalar. </h4>


    <p nz-typography>
      <strong>Tayanch iboralar:</strong>  Rastr, vector, fractal, Corel Draw, uskunalar paneli, ranglar palitrasi, Corel DRAWamaliy dasturi, filtrlar, rastr fоrmatlari,vеktоr fоrmatlari, grafika panеli, asоsiy mеnyu, standart instrumеntlar panеli, atributlar panеli,primitiv shakllar,kоmandalar, yo`naltiruvchi chiziq,ekstruziya, pеrspеktiva, dеfоrmatsiya.
    </p>
  <p nz-typography>
    Kompyuter grafikasi uch turga bo‘linadi:<br>
    -rastrli grafika <br>
    -vektorli grafika <br>
    -fraktal grafika.
  </p>
  <p nz-typography>
    Ular bir-biridan monitor ekranida tasvirlanishi va qog‘ozda bosib chiqarilishi bilan farqlanadi.
    Rastrli grafika. Rastrli grafikada tasvir nuqtalar (qog‘ozda), piksellar (nuqtalar ekranda shunday deb ataladi) yordamida hosil qilinadi. Tabiiyki, nuqtalar soni qancha ko‘p bo‘lsa (ular zich qilib joylashtirilsa), unga asoslangan rasm, shakl, grafik va hokazolar shuncha aniq ko‘rinib turadi. Shu munosabat bilan ekranning ruxsat etish qobiliyati tushunchasi kiritilgan bo‘lib, unda gorizontal va vertikal yo‘nalishlardagi nuqtalat soni muhim ahamiyatga ega va u ekranning ruxsat etish imkoniyati deyiladi.
  </p>
  <p nz-typography>
    Odatda, bunday ko‘rsatkich 640 × 480, 800 × 600, 1024 × 768 yoki bulardan yuqori piksellarda beriladi. Tasvir o‘lchovi ruxsat etish qobiliyati bilan bog‘liqdir. Bu parametr dpi (dots per inch – nuqtalar soni zichligi) bilan o‘lchanadi. Ekran dioganali 15 dyumli (1 dyum = 2,54 sm) monitorda tasvir o‘lchovi 28 × 21 sm ni tashkil qiladi. Buni hisobga olsak, 800 × 600 pikselli monitor ekranining tasvirlash qobiliyati 72 dpi ga teng bo‘ladi. Demak, kompyuter xotirasidagi rangli tasvir ko‘p joy olishini tushunish qiyin emas. Misol uchun, 10 × 15 sm li rasm taxminan 1000
    × 15000 piksellardan iborat bo‘ladi. Agar har bir rangli nuqtani tasvirlash uchun 3 bayt xotira ishlatilishini hisobga olsak, bitta o‘rtacha kattalikdagi rasmning o‘zi xotirada taxminan 4 mln bayt joyni egallaydi. Bunday ma’lumot, xususan, internet sahofalarini yaratishda e’tiborga olish zarur. Shuning uchun ham hozirgi kunda yaxshi multimedia dasturlarini, videoroliklarni yaratish uchun operativ xotirasi 128 Mbaytdan kam bo‘lmagan va, mos ravishda, tezligi katta bo‘lgan kompyuterlardan foydalanish maqsadga muvofiq. Demak, rastrli grafika bilan ishlash uchun yuqori unumli kompyuter talab qilinadi. Rastrli grafikaning kamchiligi sifatida shuni aytish mumkinki, tasvirni mashtablashtirish (kattalashtirish, kichiklashtirish) jarayoni natijasida nuqtalar o‘lchovi kattalashishi bilan tasvir aniqligi yomonlashishi mumkin va hatto, tasvir tanib bo‘lmaydigan darajada o‘zgarishi mumkin. Rastrli grafika elektron (multimedia) va matbaa nashrlarida keng qo‘llaniladi. Nashrlarda turli illustratsiyalarni yaratishda, odatda, skaner orqali olingan raqamli foto yoki videokamera (hozirda bunday fotoapparat va videokameralar keng tarqalgan) yoki rassom, loyihachi tomonidan tayyorlangan tasvirlardan foydalaniladi.
  </p>
  <p nz-typography>
    <strong>Vektorli grafika.</strong> Vektorli grafikada tasvirning asosiy elemen15 ti sifatida chiziq qaraladi. Chiziq sifatida to‘g‘ri chiziq yoki egri chiziq olinishi mumkin. Rastrli grafikada bunday chiziqlar nuqtalar (piksellar) yordamida yaratilsa, vektorli grafikada esa tasvirlarni yaratishda nuqtaga nisbatan umumiyroq bo‘lgan chiziqlardan foydalaniladi va shuning hisobiga tasvirlar aniqroq ko‘rinishga ega bo‘ladi. Vektorli grafikaning afzallik tomoni tasvirning xotirada kamroq joy olishidir, chunki bu holda xotirada joy chiziq o‘lchoviga bog‘liq bo‘lmagan ravishda bo‘ladi. Buning sababi xotirada chiziqning o‘zi emas balki uni ifodalovchi formula yoki parametrlar saqlanishidadir. Vektorli grafikaning ixtiyoriy tasviri chiziqlardan tashkil topadi va oddiy chiziqlardan murakkablari hosil qilinadi. Ko‘pincha vektorli grafikani obyektga mo‘ljallangan grafika deyish mumkin. Chunki bunda, masalan, uchburchak hosil qilish uchun 3 ta chiziq (kesma)dan foydalanilsa, piramida hosil qilish uchun uni uchburchakdan foydalanibgina hosil qilish mumkin. Vektorli grafikani hisoblanadigan grafika deb ham atash mumkin, chunki tasvirni (obyektni) ekranga chiqarishdan awal uning koordinatalari hisoblanadi va mos nuqtalar hosil qilinadi. Vektorli grafikaning matematik asosini geometrik figuralarning xossalarini o‘rganish tashkil etadi. Ma’lumki, nuqta tekislikda 2 ta (x, у) koordinatasi bilan, to‘g‘ri chiziq kanonik ko‘rinishida y = kx + b (bunda к va b ixtiyoriy sonlar)da, kesma esa mos ravishda boshlang‘ich va oxirgi nuqtasini berish bilan tasvirlanadi. Egri chiziqlar ham mos ravishda o‘z tenglamalariga ega. Vektorli grafika, asosan, illustratsiyalar yaratish uchun yo‘naltirilgandir. Vektorli grafika reklama agentliklarida, loyihalash byurolarida, nashriyotlarda va boshqa joylarda keng qo‘llaniladi. Vektorli grafika bilan ishlaydigan dasturlarga misol sifatida Adobe Illustrator 7.0, Macromedia Freehand 8.0 va Corel Draw 5.0 larni keltirish mumkin.
  </p>
  <p nz-typography>
    <strong>Fraktal grafika </strong>ham hisoblanuvchi grafika bo‘lib, uning vektor grafikadan farqi shundaki, bunda hech qanday obyektlar kompyuter xotirasida saqlanmaydi. Chunki tasvirlar tenglamalar yoki ularning tizimlarida hosil qilinadi. Shuning uchun ham xotirada tenglamalargina saqlanadi. Tenglamalarga oid parametrlar o‘zgartirilishi natijasida turli tasvirlar hosil qilinadi. Frakta grafika matematik hisoblashlar asosida tasvirlarni avtomatik yaratish uchun qo‘llaniladi. Shining uchun ham uning asosi sifatida rasm, shakl, tasvir hosil qilishning dasturlash usuli tanlangan. Bu grafika, odatda, turli jarayonlarni modellashtirish, tahlil qilish, turli qiziqtiruvchi dasturlar yaratishda keng qo‘llaniladi. Kompyuter grafikasining quyidagi turkumlarini ajratib ko‘rsatish mumkin: – tijoratga oid; – namoyishlarga oid; – muhandislikka oid; – ilmiy; – ko‘rgazmaviy; – animatsion. Tijoratga oid grafika elektron jadvallarda yoki berilganlar bazasidagi axborotlarni aks ettirish uchun xizmat qiladi. Bu axborotlar ShEHM monitor ekranida grafik, gistogramma, diagramma va xohlagan boshqa ko‘rinishlarda aks ettirilishi mumkin. Bunda grafiklar matn izohlari va ma’lum joylarda shartli belgili izohlar bilan ta’minlanadi. Tijorat grafikasiga tegishli bo‘lgan amaliy dasturlar paketi tasvirni ekranda tezda va qulay ifodalashga qaratilgan, chunki tijoratchining asosiy maqsadi axborotlarni qayta ishlash jarayonidagi o‘zgarishlarni tezda muhokama qilib, tegishli qarorlar qabul qilishdan iboratdir. Tasavvurni yana-da oshirish uchun ushbu paketlarda tasvirni turli xildagi grafika shaklida tasvirlash imkoniyati kiritilgan. Bu esa, o‘z navbatida, barcha turdagi tasvirlarni ekranda birgalikda ко‘rib, tahlil qilish imkoniyatini oshiradi. Bu paketlarning eng ahamiyatli  tomoni shundaki, ular tasvirlarni turli xil shaklda berishdan tashqari aks ettirilgan grafikalarni tahlil qilish imkoniyatini ham beradi. Shu sababli bu paketlarga turli xil matematik tahlil 17 usullari, jumladan statistik tahlil, ehtimollar nazariyasi, iqtisodiy jarayonlar bashorati kabi usullar kiritilganki, ular berilgan axborot to‘plamini tahlil qilish imkonini beradi.
  </p>
  <p nz-typography>
    <strong>Injenerlik grafikasi</strong> – bunday grafika chizmachilik, loyihalash va konstruktorlik ishlarini avtomatlashtirishda keng qo‘llaniladi. Injenerlik grafikasi analiz, sintez, modellashtirish, chizmachilik, boshqarish va shu kabi loyihalash ishlarini avtomatlashtirishning hamma bosqichlarini o‘z ichiga oladi. Ilmiy grafika – ilmiy izlanishlar uchun xizmat qiladi va geografik, fizik, biologik va boshqa jarayonlarni tadqiq qilishda qo‘llaniladi. Ilmiy grafikaning eng asosiy maqsadi ilmiy izlanishlarda hosil bo‘ladigan axborotlarni vizuallashtirish – ko‘zga ko‘rinarli shaklda ifodalashdir. Ayniqsa bu yo‘nalish atom energiyasi manbalarini tadqiq qilishda, kosmonavtika, samolyotsozlikda, geografiya va okeanologiyada – xullas qamrovi katta bo‘lgan, tez kechadigan jarayonlarni o‘rganishda keng qo‘llaniladi. Shuningdek, ilmiy izlanishlar natijalarini kerakli shaklda diagrammalar, xaritalar, jadvallar va turli matematik formulalar shaklida tasvirlashda ishlatilishi mumkin. Ko‘rgazmaviy grafika – namoyish va tijorat grafikalarining rivoji bo‘lib, shu ikkala grafika imkoniyatlarining yig‘indisini tashkil etadi. Bu grafika ayrim grafikalarni slaydlar ketma-ketligidan iborat slaydfilm qilib yaratib, so‘ngra uni ma’lum vaqt ichida ekranda ketma-ket ko‘rgazma shaklida namoyish etadi. Har bir slaydning ekrandagi tasviri ovoz va vizual effektlar bilan qo‘shib olib borilishi mumkin. Bundan tashqari, tayyor grafikni tahrir qilish imkoniyati ham mavjud
  </p>
  <p nz-typography>
    <strong> Animatsion grafikada </strong> – rang bilan ishlashdagi muvaffaqiyatlar muhandislik grafikasidagi uch o‘chovli obyektlarni modellashtirishdagi yutuqlar bilan (masalan, reklama e’lonlari va teleko‘rsatuvdagi bir tasvirning ichiga ikkinchisini kiritish) qo‘shib uyg‘unlashtirilgan. Mashina grafikasi – bu kompyuter yordamida obyekt shakllari, uning modelini yaratish va saqlash uchun xizmat qiluvchi kompyuter grafiksining bir bo‘limi. Kompyuterda turli grafik tasvirlarni hosil qilish mumkin, biroq ular bir-biridan farqlanadi, chunki hozirgi zamon kompyuterlari o‘tgan asrning 90- yillaridagi tizimlarga nisbatan shakllarni aniq tasvirlash imkoniyatiga va maxsus dasturlar bilan kengaytiriladigan tizimlarga ega. Interfaol grafika – bu mashina grafakasi sanaladi. Interfaol garafika – kompyuter grafikasining eng asosiy bo‘limlaridan biri bo‘lib, unda foydalanuvchi tasvirni dinamik boshqarish imkoniga ega bo‘ladi, ya’ni tasvirning shakli, o‘lchamlari va monitor yuzasidagi ranglarini o‘zaro ta’sir qiluvchi moslama (klaviatura yoki sichqon) yordamida boshqaradi. Kompyuter grafikasida aniq va mavhum obektlar tasvirini yaratish va bu tasvirlarni ikki ko‘rinishda kuzutish mumkin: 1. kuzatuvchi qo‘zg‘almas bo‘lib, oldidagi obektni xohlaganicha aylantirib kuzatishi mumkin – bu panorama effekti; 2. obekt qo‘zg‘almas bo‘lib, kuzatuvchi uning atrofida aylanib tomosha qilishi mumkin – bu kamera effekti. Interfaol grafika yaratilgandan keyin u televideniya va fotografiyada tasvirni yaratish va tayyorlashdagi eng asosiy texnik moslamalardan biri bo‘lib qoldi. Uning yutuqlaridan biri sintezlangan abstrakt obyektlarni, tasvirlarni EHM yordamida hosil qilishdir. Inson mashina grafikasidan foydalanish vaqtida juda ko‘p zerikarli va har xil mayda ishlardan (juda ko‘p miqdorda matnli varaqalar va sonli materiallarni ko‘rib chiqishdan) qutildi. Statik tasvirlar informatsiyalarni yetkazib berishda yaxshi bo‘lishiga qaramay ko‘p holatlarda dinamik o‘zgaruvchi tasvirlar ulardan ustun turadi. Hayotda, asosan, jarayon vaqtida o‘zgarib tu19 ruvchi tasvirlar – dinamik o‘zgaruvchan tasvirlar (tovush tezligidan tez uchar samolyot qanotining egilishi yoki inson qiyofasining hayoti mobaynida o‘zgarib turishi). Dinamik tasvirlar qo‘zg‘almay turgan tomoshabinga obyektlarning siljishi va harakatlanishini ko‘rishga yordam beradi. Bunda obyekt qismlarini boshqa obyektga yaqinlashtirish yoki uzoqlashtirish va obyekt detallarini kattalashtirib yoki kichraytirib ko‘rish mumkin.
  </p>
  <p nz-typography>
    CorelDraw vektorli grafik muharririda tasvir ixtiyoriy shakldagi konturlardan iborat bo’ladi. CorelDraw Grafics Suite 12 dasturiy paketi o’rnatilgach, WINDOWS OTning ishga tushirish menyusida uning piktogrammasi namoyon bo’ladi. Dastur quyidagicha ishga tushiriladi:
   <br> 	Pusk	Vse programmi	CorelDraw Grafics Suite 12	CorelDraw 12;
    <br>	Ishchi stoldan   yorlig’ini tanlab “ sichqoncha” yoki Entertugmasi tanlanadi.
          Bu oynadan biz o’zimizning maqsadimizga ko’ra holatni tanlaymiz:
    <br> Noviy- «PO umolchaniyu» holati belgilangan parametrlar bo’yicha bo’sh hujjat yaratiladi;
    <br> Posledniy-avvalgi foydalanishda ishlatilgan hujjatlar ochiladi;
    <br> Otkrit-muloқot oynasi ochilib undan tahrirlanuvchi fayl tanlanadi; Noviy po shablonu-master oynasi ochilib, tayyor қoliplar tavsiya etiladi; Corel Tutor-kichik hajmdagi o’rgatuvchi dastur yo’qlanadi;
    <br> Chto novogo- CorelDraw dasturining yangi versiyasi yangiliklari bilan tanishtiriladi.
  </p>
  <p nz-typography>
    <strong>Asosiy menyu </strong> – sarlavhalar qatoridan keyin joylashgan bo’lib, unda joylashgan menyular Windows operatsion tizimining barcha ilovarida uchraydigan menyular kabi bo’lib, CorelDrawda ishlashda bir qator qulayliklar yaratadi.

  </p>
  <p nz-typography>
    Har qanday dastur kabi CorelDraw dasturi o’zining menyulariga ega bo’lib, asosiysi «Fayl» menyusi hisoblanadi. Uning ko’rinishi quyidagicha:

  </p>
  <h5>Boshqarish paneli.</h5>
  <p nz-typography>
    Boshqarish paneli dasturning ajralmas qismi bo’lib, foydalanuvchi o’zining xohishiga ko’ra undagi panellar sonini kamaytirishi yoki oshirishi mumkin. Unda joylashgan tugmalar hujjatlarni yaratish, ochish, saqlash, import, eksport, chop etish, almashish buferi bilan ishlash, noto’g’ri bajarilgan amallardan voz kechish, masshtabni o’zgartirish va boshqa bir qator imkoniyatlarni beradi.
  </p>
  <h5>Xossalar paneli</h5>
  <p nz-typography>
    Dasturdagi ochiluvchi panel yahni xossalar paneli foydalanuvchiga dastur bilan ishlash mobaynida qator qulayliklar yaratadi. Panel buyruqlari tanlangan uskunaga bog’liq ravishda namoyon bo’ladi.
  </p>
  <h5>Hujjatlarni ochish va hujjat oynasini boshqarish.</h5>
  <p nz-typography>
    Hujjatlar «Fayl» menyusidagi «Otkrit» bandi orqali ochilishi mumkin va ochilgan dialog oynasidan biz o’zimizga kerakli fayllarni tanlay olamiz. CorelDraw bir vaqtning o’zida bir necha

    hujjat bilan ishlash imkoniyatini beradi. Har bir hujjatga alohida oyna ajratiladi. Hujjat oynasi asosiy oyna chegarasidan tashqariga chiqa olmaydi va u ishchi sahifa (sahifa ramkasi bilan chegaralangan), hamda ish stolidan iborat.
    Illyustratsiya ishchi sahifaning chegarasida joylashishi shart va uning bu chegaradan tashqi sohada joylashgan qismi chop etilmaydi. Ish stoli illyustratsiyaning ma’lum qismlarini vaqtincha saqlash va hujjatning sahifalariga bu qismlarni o’tkazish uchun vaqtincha joylashtirish uchun xizmat qiladi. Ish stolining hajmi judda katta bo’lib, undan bemalol foydalanishimiz mumkin.
  </p>
  <h5>Tasvir masshtabi.</h5>
  <p nz-typography>
    Tasvirni tahrirlash jarayonida uning masshtabini hujjat oynasida ko’p marotaba o’zgartirish zarurati tug’iladi . CorelDraw masshtabni 1 dan 405651 % gacha o’zgartirish imkoniyatiga ega va unda masshtabni o’zgartirishning turli usullari mavjud:
    Hujjat ochiladi va insturmentlar panelidan masshtablashtirish instrumenti tanlanib, kattalashtirish darajasi har xil foizlar tanlanib, illyustratsiya tahrir uchun tayyorlanadi.


    Masshtabning katta qiymatida tasvir to’laligicha ekranga siғmaydi, faqat uning bir qismi ko’rinadi. Uning kerakli qismi gorizontal yoki vertikal yuritgich yordamida topiladi. Masshtabdan foydalanishda shuni qayd qilish lozim-ki Zoom (masshtab) instrumenti yordamida hujjat o’lchamlarini o’zgartirish uning asl nusxasidagi o’lchamlarini o’zgartirmaydi.
  </p>
  <h4>CorelDraw dasturida fayllar bilan ishlash</h4>
  <p nz-typography>
    Talabalar CorelDraw muharririda ishlash chog’ida yoki ishni yakunlashdan oldin fayllarni saqlab qo’yishi zarur bo’ladi. Dasturda fayllarni saqlash tartibi barcha dasturlardagidek bo’lib, ”Fayl” “Saxranit” , “Soxranit kak” buyruqlari orqali amalga oshiriladi. Bu yerda hujjatning nomi, joyi, hujjat tipi va kalit so’z kiritish mumkin. Kiritilgan kalit so’z hujjatni «Poisk» tizimida qidirishda қo’llaniladi. Dasturda hujjatni har 20 daqiqada avtomatik tarzda saqlash imkoniyati mavjud bo’lib, u hujjat nomi bilan maxsus qo’shimcha orqali saqlab boradi. Bu holat hujjat yaratilishi davrida qilingan harakatlarni kutilmagan holatlardan asrash uchun mo’ljallangan.
  </p>
  <h5>Corel Draw dasturlari pakеti haqida umumiy ma’lumоtlar</h5>
  <p nz-typography>
    Corel DRAW - bu illyustratsiyalarni vektor grafikasi printsipiga asoslangan holda yaratuvchi va tahrirlovchi dastur hisoblanadi. Corel DRAW dasturining imkoniyatlari unda turli hil grafik kompozitsiyalarni yaratishga yordam beradi. Ayniqsa dinamik interaktiv instrumentlar, turli hil effektlar va grafik ma'lumotlarni HTML va PDF formatlarida tayyorlash imkoniyatlari yaratilgan. Bundan tashqari Corel DRAW grafik muharririda ranglar palitralarida turli hil ranglarni tanlash mumkin. Shuningdek turli formatlar bilan ishlashda yordam beruvchi turli instrumentlar, import va eksport uchun zarur bo`lgan ko`p filtrlar, tasvirni nashr qiluvchi vositalar ijodkor uchun eng yuqori ijodiy muhit yaratib beradi.
  </p>
  <h5>Corel DRAW grafik muharriridagi asosiy dasturlar</h5>
  <p nz-typography>
    Corel DRAW 9 quyidagicha qismlardan tashkil topgan: <br><br>
    •	Dastur fayllari (Program <br>
    •	Ma'lumot beruvchi fayllar (Help files)<br>
    •	O`rgatuvchi dasturlar va namunalar (Tutors and Examples)<br>
    •	Konturlar va zalivkalar (Outlines & Fills)<br>
    •	Makroslar (Scripts) va zagotovkalar (Presets)<br>
  </p>
  <h5>Corel PHOTO - PAINTS quyidagi qismlardan tashkil topgan:</h5>
  <p nz-typography>
    •	Dastur fayllari (Program Files)<br>
    •	Ma'lumot beruvchi fayllar (Help files)<br>
    •	O`rgatuvchi dasturlar va namunalar (Tutors and Examples)<br>
    •	Makroslar (Scripts) va zagotovkalar (Presets)<br>
  </p>
  <h5>Filtrlar</h5>
  <p nz-typography>
   <strong>Corel DRAW grafik muharririda quyidagicha filtrlar mavjud:</strong> <br><br>
    •	Rastr formatlari filtrlari: CPT, TIF, PCX, BMP, GIF, JPG, PCD, PSD, MAC, PP5, TGA, SCT, FPX, PNG, RAW, DCS, WI, IMG, RIFF Painter 5<br>
    •	Vektor formatlari filtrlari: WPG, AI, DXF, CGM, CMX, CDR, CPX, CDX, EPS, EMF, HPGL/PLT, PCT, Interpreteel Past Scpript, WMF, PDF, PSF, DWG, 3DMF, VSD, TTF.<br>
    •	Animatsiya fayllarining barcha filtrlari.<br>
    •	Tekst fayllari filtrlari: WP8, DOC, RTF, TXT, XLS, WQ/WB, WK<br>
    nternet formatlarining barcha filtrlari.<br><br> Shuningdek:<br>
    •	66 ta standart shrift.<br>
    •	Corel Uninstall.<br>
    •	Readme fayllari mavjud<br>
  </p>
<h5>Yordamchi dasturlar</h5>
  <p nz-typography>
    Corel DRAW 9 grafik muharririning kompakt-diskida bir qancha yordamchi dasturlar mavjud: <br> <br>
    •	Adobe Acrobat Reader 4<br>
    •	Canto Simulus Deskbop<br>
    •	Apple Qvik time 3.0<br>
    •	Misrosoft internet explorer <br>
  </p>
  <h5>Corel DRAW grafik muharririni ishga tushirish</h5>
  <p nz-typography>
    Corel DRAW dasturini ishga tushirgandan so`ng uning oynasi 1-rasmdagidek ko`zga tashlanadi. Grafika ustida ishlash uchun Welcom to Corel DRAW (Corel DRAWga xush kelibsiz) dialog oynasidagi variantlardan birini tanlash lozim. Agar biz New Graphic (Yangi hujjat) variantini tanlasak ekran markazida nashr varag`i bo`lgan - rasmdagidek standart oyna paydo bo`ladi. Ushbu dialog oynasidagi What is New (Yangiliklar) bo`limidagi Corel DRAW dasturiga oid yangi o`zgarishlarni bilib olamiz..
  </p>
  <p nz-typography>
    Windows operatsion sistemasida ekranning hohlagan nuqtasida sichqonchaning o`ng tugmasini bosish orqali ba'zi bir harakatlar qilishadi. Bu imkoniyatdan ham Corel DRAW grafik muharririda keng foydalaniladi. O`ng tomondagi tugmani bosish orqali kontekst menyu chaqiriladi.
    Bu rasmda Document (hujjat) kontekst menyusi ko`rsatilgan. Biz undagi Create Object (obyekt yaratish) komandasini bosish orq`ali grafika panelidagi instrumentlarni tanlash uchun zarur komandalar menyusini ochamiz.
    Keyingi rasmda Object (obyekt) menyusi tasvirlangan. Bu menyuni ajratilgan obyektlar guruhini ustiga borib o`ng tomondagi tugmani bosish orqali chaqiramiz. Bunday menyulardagi komandalar chaqirilayotgan daqiqalardagi holatga bog`liq bo`lganligi uchun kontekst menyusi deb yuritiladi.
  </p>
<h5>Atributlar paneli</h5>
  <p nz-typography>
    Atributlar paneli (Property Bar) - bu hozirgi daqiqada qanday instrument yoki obyekt faol bo`lsa shunga qarab tarkibi va instrumental vositalari o`zgarib turuvchi panel hisoblanadi.
    Atributlar paneli standart instrumentlar paneli ostida joylashadi.
    Atributlar panelida ishlash jarayonida ko‘plagan menyu komandalari va dialog oynalaridan foydalanishga hojat qolmaydi.
    Shunday qilib atributlar paneli qanday instrumentni ochsangiz shunga qarab o‘zgarib turadi.
  </p>

  <h5>Dialog oynasi</h5>
  <p nz-typography>
    Corel DRAWda ba'zi bir harakatlar yoki komandalarni bajarish jarayonida qo‘shimcha informatsiya zarur bo‘lsa dialog oynasi paydo bo‘ladi.
    Dialog oynasi bilan ishlashda sichqoncha yoki klaviaturadan foydalanish mumkin.
    Klaviatura bilan ishlash jarayonida dialog oynasi elementining birisidan ikkinchisiga o‘tish uchun TAB klavishasini bosish lozim. Kerakli elementni topib olgandan so‘ng klavish yordamida bayroqchani qo‘yish yoki olib tashlash mumkin. Bundan tashqari undan ma'lumotlar ham kiritish mumkin.
  </p>

  <h5>Ellips yasash</h5>
  <p nz-typography>
    Ellips primitiv shakllarning eng ko`p foydalaniladigani hisoblanadi. Bu instrument yordamida deyarli barcha grafik obyektlarning tasvirini ishlashda foydalanish mumkin.
    Ellips yasashda uning o‘lchamini aniq tasavvur qilish lozim.
    Ellips yasash uchun grafika panelidagi Ellipse (ellips) tugmasini bosamiz. Bundan tashqari F7 funktsional klavishni bosib chaqirish mumkin. Shundan keyin kursor  pastda  rasmda  ko‘rsatilgandek shaklga kiradi.

  </p>
  <h5>Diagramma to‘rini yaratish</h5>
  <p nz-typography>
    Graph Paper (Diagramma to‘ri) instrumenti yordamida berilgan qator va ustunli diagramma to‘ri yaratish mumkin. Bu instrumentni Object (Obyekt) ochiluvchi paneli yordamida yoki sichqonchaning o‘ng tugmasini bosish orqali Greate Object / Graph Paper (obyekt yaratish / diagramma to‘ri) komandasi yordamida ishga tushirish mumkin.
    Diagramma to‘rini yaratishdan oldin ustun va qatorlar sonini atributlar panelida berish lozim.
    Diagramma to‘ri yaratib bo‘lganidan so‘ng uning ustun va qatorlarini sonini o‘zgartirib bo‘lmaydi.
    Agarda diagramma to`rini bo`lak yacheykasini tahrirlash zarur bo`lsa to`rni guruhlarga ajratish lozim. Shundan keyin to`rning harbir yacheykasi bo`lak to`rtburchaklikka aylanadi.
  </p>
  <h5>Effektlarni qo`llash</h5>
  <p nz-typography>
    <strong>Corel DRAW amaliy dasturida obyektlar bilan ishlashda bir qancha effektlarni qo`llash mumkin. Bular quyidagi lardan </strong> <br><br>
    •	Egish effekti.<br>
    •	Deformatsiya effekti<br>
    •	Perspektiva effekti<br>
    •	Ekstruziya effekti<br>
    •	Qadam- baqadam o`tish effekti<br>
    •	Kontur (oreol) effekti<br>
    •	Soya effekti<br>
    •	Linza effekti	9.SHaffoflik effekti<br>
  </p>
  <p nz-typography>
    <strong>Egish effekti bilan ishlash</strong> <br>
    <br>Egish effekti obyekt shaklini mustaqil ravishda egishga yordam beradi.Bunday effektni obyektlar guruhiga qo`llashdan oldin shu obyektlarni guruhlash lozim.
    <br>Egish effekti Interactive Envelope (egishni interaktiv tuzish) instrumenti yordamida amalga oshiriladi. Bu instrument grafika panelidagi instrumentlar to`plamida joylashgan. Interactive Envelope (egishni interaktiv tuzish) instrumenti tugmasi panelda chapdan to`rtinchi bo`lib joylashgan. Agar obyektni belgilab olib shu tugmani bossak obyekt atrofida avtomatik ravishda 8 bog`lamdan iborat bo`lgan gabarit to`g`riburchaklik paydo bo`ladi. Xuddi boshqa bog`lamlar kabi ular ham markerlar bilan ta'minlangan. Markerni bosib turib, uni sichqonchabilan sursak obyektga kerakli shaklni bera olamiz.

  </p>
  <p nz-typography>
    <strong>Perspektiva effekti</strong> <br>
    <br>Perspektiva effekti tasvirga ko`ruv chizig`i yo`nalishini hisobga olgan holda chuqurlik va hajm taassurotini beradi. Perspektiva effektini qo`llash orqali obyekt sahna foni chuqurligida kichraygandek tuyiladi.
    <br>Perspektiva effektini bitta obyektga va obyektlar guruhiga qo`llash mumkin. U bir vaqtning o`zida bir nechta obyektga qo`llanilishi mumkin emas. Lekin uni bir obyektdan boshqa obyektga nusha olib o`tkazish mumkin.
    •	<br>Perspektiva effektini qo`llash uchun oldin obyekt yoki obyektlar guruhini belgilab olish lozim. Keyin Effects/Add Perspektive (effektlar/perspektivani qo`llash) komandasi tanlanadi. Shundan keyin obyekt yoki obyektlar guruhi burchaklarida bog`lamlari bilan to`g`ri burchakli punktir ramka bilan ajraladi. Ramka ichi esa vertikal va gorizontal holatdagi yo`naltiruvchi chiziqlar bilan qoplanadi.
    •	<br>Obyektga perspektiva effektini berish uchun esa avtomatik ravishda paydo bo`luvchi Shape (shakl) instrumentidan foydalanamiz. Buning uchun esa bu instrument yordamida obyekt
    burchaklaridagi bog`lamlar dan birini ushlab kerakli masofaga tortamiz.
    <br>Bog`lamni surish yunalishi obyektga qaysi turdagi (bir yoki ikki nuqtali) perspektiva qo`llanilishiga ta'sir qiladi.
    <br>Agar CTRL klavishini ushlab turib bog`lamlar dan birini vertikal yoki gorizontal bo`yicha sursak bir nuqtali perspektiva effekti hosilbo`ladi. Bog`lamni tortish jarayonida biz CTRL klavishini ushlab turmasak ikki nuqtali perspektiva effektini hosil qilgan bo`lamiz.
  </p> <br>
  <br><br>
