<article nz-typography>
  <h1 style="text-align: center" nz-typography>Kompyuter va mobil qurilmalar operatsion tizimlari.</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>Kompyuter va mobil qurilmalar operasion tizimlarini o`rgatish va amaliy ko`nikmalar hosil qilish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>Kompyuter va mobil qurilmalar operasion tizimlari haqida  nazariy va amaliy ko’nikmalar hosil qilinadi.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p>Kompyuter  operatsion tizimlari.<br> Mobil qurilmalar operasion tizimlari </p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <p nz-typography>
    Operatsion tizim odatda kompyuterning tashqi hotirasi – <strong>diskda</strong> saqlanadi. Kompyuter ishga tushirilganda u kompyuterning tezkor xotirasiga o’qiladi. Bu jarayon <strong>operatsion tizimni yo’qlanishi</strong> deyiladi.
  </p>
  <div style="text-align: center">
    <img nz-image
         width="500px"
         height="300px"
         [nzSrc]="'assets/images/otsystem.png'"
         alt="" src=""/>
  </div><br>
  <p nz-typography>
    <strong>Operatsion tizim quyidagi asosiy qismlardan iborat:</strong> <br><br>
    -ma’lumotlarni xotiraga kiritish va chiqarish dasturi (BIOS nomi bilan ifodalangan);<br>
    -operatsion tizimni faollashtiruvchi dastur (Boot Record);<br>
    -ma’lumotlarni kiritish-chiqarish tizimini kengaytirish moduli;<br>
    -amallar bajarishda yuzaga kelishi mumkin bo’lgan o’zilishlarni tashkil qilish moduli;<br>
    -buyruq protsessori.<br>
  </p>
  <p nz-typography>
    Operatsion tizimlar kompyuter dasturlari orasida eng murakkabi bo’libgina qolmay, ular kompyuterni nafaqat amal bajarishga, balki o’zi bajarayotgan ishlarni ham nazorat qilishga majbur etadi. Bunday dasturlar bizning vazifalarimizni bajarish uchun emas, balki bizning ko’rsatmalarimizni bajarishda kompyuter qurilmalarida biror kamchilik, muammo yuzaga kelmasligi uchun ishlab chiqariladi va qo’llaniladi. 
  </p>
  <h5>Windows mobil operatsion tizimi</h5>
  <p nz-typography>
    Kompyuterlar orasida Windows eng hurmatga sazovor O.T. bo’lishiga qaramay, Window mobil muqobillari “to’yga so’nggi kelgan mehmon”ga o’xshab ketadi. Ijro bobida Windows Phone o’z raqiblari iOS va Androidga yaqin darajadagi ko’rsatkichga erishdi; biroq uning ilovalari miqdori sezilarli darajada kamchilikni tashkil etadi. Umuman olganda Windows O.T.ning ashaddiy muhlisi bo’lmasangiz, Android va iOS yaxshi tanlov bo’lib ko’rinishi mumkin.
  </p>
  <h5>Android mobil operatsion tizimi</h5>
  <p nz-typography>
    <strong>Android</strong> – Linux yadrosida yaratilgan portativ (tizimli) operatsion tizim boʻlib, Kommunikatorlar, planshetli kompyuterlar, elekronkitoblar, raqamli pleyerlar, qoʻl soatlari, netbuklar va smartbuklarda ishlatiladi. Google tomonidan sotib olingan Android Inc. kompaniyasi tomonidan yaratilgan. Keyinchalik Google tizim rivojlanishi bilan shugʻullanadigan Open Handset Alliance (OHA) ittifoqini tuzdi. Android yordamida Javadasturlarni tuzish mumkin. Android Native Development Kit Sida va boshqa tillarda yoziladigan dasturlarni yaratadi.
  </p>
  <p nz-typography>
    In the process of internal desktop applications development, many different design specs and implementations
    would be involved, which might cause designers and developers difficulties and duplication and reduce the
    efficiency of development.
  </p>
  <p nz-typography>
    <strong>Android</strong> – mobil telefonlar uchun jahonda eng mashhur operatsion tizimi paydo bo‘lganligiga atigi besh yil bo‘lganligiga hatto ishonging ham kelmaydi. Quyida Android tizimi haqida batafsil ma’lumotlar berilgan.
  </p>
  <p nz-typography>
    <strong>Android</strong> (yunoncha so‘z bo‘lib, ikki bo‘g‘ini – “erkak” va “o‘xshash”) – “odamsifat robot” ma’nosini ifoda etadi. Balki mana shuning uchun Android operatsion tizimi logotipida robot tasvirlangandir.
  </p>
  <p nz-typography>
    Android operatsion tizimining yaratilishi tarixi 2002-yillardan boshlangan. Mana shu davrda Google korporatsiyasi yaratuvchilari E. Rubinning dasturiy ishlanmalari to‘plami bilan qiziqib qoladilar. Dastlab mobil qurilmalar uchun yangi operatsion tizimni yaratish loyihasi bilan katta maxfiylik ostida TAndroid Inc. Kompaniyasi shug‘ullangan, ushbu kompaniyani keyinchalik Google sotib oladi.
  </p>
  <p nz-typography>
    <strong>Android</strong> – Linux yadrosiga asoslangan kommuniqatorlar, planshetli kompyuterlar, elektron kitoblar, raqamli musiqa uskunalari, qo‘l soatlari, netbuklar va smartbuklar uchun portativ (tarmoqli) operatsion tizimdir. Dastlab, Android Inc. kompaniyasi tomonidan yaratila boshlangan, uni keyinchalik Google sotib olgan. Keyinchalik Google Open Handset Alliance (OHA) alyansini tashkil qildi, u hozirda ham platformani qo‘llab-quvvatlash va yanada rivojlantirish bilan shug‘ullanadi. Android Google tomonidan ishlab chiqilgan kutubxona orqali qurilmani boshqaruvchi Java-ilovasini yaratishga imkon beradi. Android Native Development Kit Si va boshqa tillarda yozilgan ilovalarni yaratadi.
  </p>
  <p nz-typography>
    2008-yil sentabr oyida birinchi versiyasi chiqarilgandan so‘ng tizimga bir necha yangiliklar kiritilishi sodir bo‘ldi. Ushbu yangiliklar odatda, aniqlangan xatolarni tuzatish va tizimga yangi funksiyani kiritish bilan bog‘liq bo‘ldi. Tizimning har bir versiyasi yangilik sifatida o‘zining kodli nomi bilan ataldi. Kod nomlari alifbo tartibida berildi. 2012-yil noyabr oyiga kelib, tizimning 14 ta versiyasi yaratildi. Bu versiyasi - 4.1 Jelly Bean («qo‘shimchasi bilan chaynash obaki») deb nomlandi. 2013-yil 31 oktabr kuni, tizimning navbatdagi yangi versiyasi yaratildi. Bu versiyasi - 4.4 KitKat deb nomlandi. 2014 yil 3 noyabrda tizimning 5.0 versiyasi yaratildi. Bu versiyasi – 5.0 Lollipop  deb nomlandi. 2015 yil 28 mayda tizimning 6.0 versiyasi yaratildi. Bu versiyasi - 6.0 Marshmallow deb nomlandi. 2016 yil tizimning oxirgi versiyasi yaratilishi ko’zda tutilgan bo’lib, u 7.0 Nougat deb nomlanadi.
  </p>
  <br><br><br>
</article>