<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="'/welcome'">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>{{'APP_NAME'| translate}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let item of menu"
          nz-submenu
          [nzOpen]="item.isOpened"
          [nzTitle]="item.title| translate"
          [nzIcon]="item.icon">
        <ul>
          <li *ngFor="let page of item.pages"
              nz-menu-item
              nzMatchRouter>
            <a [routerLink]="page.path">{{page.title| translate}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="header-trigger" (click)="toggleTheme()">
          <i class="trigger" nz-icon nzType="skin" nzTheme="outline"></i>
        </span>
        <nz-select [(ngModel)]="currentLang" (ngModelChange)="onToggleLang()">
          <nz-option [nzValue]="UZ" nzLabel="O'zbek"></nz-option>
          <nz-option [nzValue]="RU" nzLabel="Русский"></nz-option>
          <nz-option [nzValue]="EN" nzLabel="English"></nz-option>
        </nz-select>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
