<article nz-typography>
    <h1 class="main-title" nz-typography>Mavzu: Excelda ma’lumotni statistik qayta ishlash va ularning diagrammasini qurish </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>Elektron jadval muharririda ma’lumotni statistik qayta ishlash va ularning diagrammasini qurishni o`rganish</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Talabalarda ma’lumotni statistik qayta ishlash va ularning diagrammasini qurish ko`nikma va malakalari shakllantiriladi.</p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p> <br>1.	Nazariy ma`lumotlar bilan yaqindan tanishish.
        <br>2.	Ko`rsatilgan  namunalarni o`rganib chiqish.
        <br>3.	Nazariy qismda berilganlarni kompyuterda bajarib ko`rish.
        <br>4.	Topshiriqlar variantlarida keltirilgan masalalarni bajarish .
        <br>5.	Natijalarni olish.

    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography><strong>EXCELda diagrammalar bilan ishlash</strong>
        Elektron jadvalning yana bir muhim tomoni shundaki, uning yordamida jadvaldagi sonli ma'lumotlarni turli grafik ko'rinishlarda ham tasvirlash mumkin.
        Misol. Korxona yanvar oyida 128 ta, fevral oyida 89 ta, mart oyida 131 ta aprel oyida 94 ta may oyida 112 ta va iyun oyida 98 ta mahsulot ishlab chiqardi. Buni diagramma ko'rinishida ifodalang va har oydagi ko'rsatkich yarim yillik ko'rsatkichning necha foizini tashkil etishini ko'rsating.
        Yechish. Elektron jadvalga masalada berilgan ma'lumotlarni kiritishni bilamiz. Masalan, 1–satr kataklari – A1, B1, C1. . . da boshlang'ich qiymatlar yozilgan bo'lsin. Ma’lumotlar kiritib bo‘lingandan so‘ng, dasturning «Вставка» menyusidan «Диаграмма» bandi tanlanadi. Hosil bo‘lgan «Мастердиаграмм» oynasidan diagramma tipi tanlanadi va «Далее» tugmasi 2 marta bosiladi. Bu yerda «Зоголовки», «Легенда», «Подписиданных» qismlari joylashgan bo‘lib, «Зоголовки» yordamida diagrammaga nom, «Легенда» va «Подписиданных» bo‘limlari yordamida diagrammaga izohlar berilib, «Далее» tugmasi bosiladi va diagramma qayerga joylashishini ko‘rsatib «Готово»tugmasi bosiladi.
        <br>Kiritilgan ma’lumotlarni saqlash Microsoft Excel da ham Microsoft Word dasturi kabi amalgam oshiriladi, ya’ni “Файл” menyusiga kirib “Сохранит’” bandini tanlaymiz yoki standart qurollar panelidagi   piktogrammasini bosamiz. Hosil bo‘lgan dialog oynaga fayl nomoni kiritib, “Сохранит’” yoki Enter tugmasini bosamiz.

    </p>
    <p nz-typography>
        Bu bo’limlar kompyutеr ichki qurilmalari, ya’ni ona plata, qattiq disk, mikroprotsessorlar haqida ma'lumot olish
        imkoniyatini bеradi.
        Sistemali blokda mikroprotsеssor, opеrativ xotira, qattik disk, kontrollеr, diskеtalar bilan ishlash uchun
        qurilmalar va hokazolar joylashadi.

    </p>
    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography><strong>
        Topshiriqlar variantlari (masala, misol, keyslar): </strong><br>
        <br>1.	Guruhingizdagi 10 ta talabani familiyasi, ismi, tug’ilgan kuni va yashash manzilini akslantiruvchi ma’lumot kiriting va bu ma’lumotni tug’ilgan kun bo‘yicha saralang.
        2.	Kiritilgan ma’lumotni ismi bo‘yicha saralang.
        3.	O’zingizni kursingiz akslangan jadval kiriting va bu jadvaldan 17 yoshli, Furqat tumanida yashovchi qiz bollarni ajrating.


    </p>
    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        <br>Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        <br>Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1.	Diagramma tipi qanday o‘zgartiriladi?
        <br>2.	Excel dasturida diagramma qanday hosil qilinadi?
        <br>3.	Jadvaldagi ma'lumotlar bo'yicha diagramma hosil qilish qanday bajariladi?
        <br>4.	“Diagramma ustasi” (Мастердиаграмм)ning vazifasi nima?
        <br>5.	Diagramma turini tanlash va o‘zgartirish usulini ko‘rsating.


    </p>
</article>