<article nz-typography>
  <h1 class = "main-title" nz-typography>Dremweaver dasturining interfeysi. Dremweaver dasturining imkoniyatlari</h1>
  <h3>Reja:</h3>
  <h4>1. Dream Weaver dasturi interfeysi va unda ishlash. </h4>
  <h4>2. Dаsturning HTML bilаn ishlаsh imkоniyatlаri. </h4>
  <h4>3. Dream Weaver dasturi asosida ta’limiy sayt yaratish </h4>
<br><br>
  <p nz-typography>
    <strong>Tayanch iboralar:</strong> Dream Weaver, Interfeys, palitra, panel, html.
  </p>

  <h5>Dream Weaver dasturi interfeysi va unda ishlash</h5>

    <p nz-typography>
      <strong>Interfeys</strong> deganda informatikada dasturdagi turli komponentlar va foydalanuvchi o’rtasidagi o’zaro aloqani taminlovchi vositalar va qoidalar yig’indisi tushuniladi. Dreamweaver paketi taklif etadigan muomala usuli zamonaviy foydalanuvchi uchun odatiy bo’lib qolgan grafik oynali interfeys printsiplariga asoslanadi. Dreamweaver paketi o’sha sinfdagi boshqa dasturlar bilan taqqoslaganda ancha aniq, moslashuvchan va shu bilan bir paytda kuchli interfeys hisoblanadi. Palitralar, ko’p sonli klaviatura kombinatsiyalari va menyu qatori uning asosiy
      «tashuvchi loyihalari» hisoblanadi. Barcha operatsiyalar to’xtatilgach ekranda qoladigan oynalarni palitralari (Palette) yoki panellar (panel) deb atash qabul qilingan. Ekranning maxsus ajratilgan pozitsiyalarida emas, balki ixtiyoriy joyida joylasha oladigan oynalar ko’chib yuruvchi palitralar (floating plette) deb ataladi. Dteamweavet dasturi muloqot oynalarining ko’pchiligi ko’chib yuruvchi palitralar ko’rinishida ishlaydi.
    </p>
    <p nz-typography>
      Palitralar va panellar orasidagi kichik farqlar dasturni tavsiflash uchun sezilarli  ahamiyatga ega emas. SHuning uchun kelgusida bu atamalarni sinonimlar sifatida qo’llaymiz.
      Deyarli barcha palitralar birlashish xususiyatiga ega. Bu har xil palitralarni bitta muloqot oynasida joylashtirish mumkinligini bildiradi. Birlashtirish amali turli mavzu yoki buyruqlarga tegishli boshqaruv vositalariga ega bo’lgan ko’p funktsiyali terma palitralarni olish imkoniyatini beradi. Birlashish xususiyatiga ega bo’lgan palitralarni (ular dasturda ko’pchilikni tashqil etadi) modulli (dockable) palitralar deb ataymiz. Bir necha alohida modullardan iborat murakkab palitralar terma (tabbed) palitralar deb ataladi.
    </p>
    <p nz-typography>
      <strong>Menyu qatori</strong> – bu Windows ning ixtiyoriy ilovasining zaruriy atributidir. U komandalarga, muloqot oynalariga, tugmalarga yo’l ochadi, ular yordamida hujjat yaratish, dasturni sozlash, vizuallashtirish jarayonini boshqarish kabi samarali ishlar bajariladi. Menyu qatorining har bir bandi vazifasi jihatidan birbiriga yaqin kiritilgan menyu va kichik menyular ierarxiyasini hosil qiluvchi buyruqlar guruhini birlashtiradi. Bu bandlarning qisqacha tavsifini keltiramiz.<br><br>
      •	File menyusi (Fayl) fayllar bilan bog’liq buyruqlarni, gipermatnli hujjatlar shablonlari bilan ishlash, eksport qilish, import qilish va brouzer dasturlarida ko’rish buyruqlarini o’z ichiga oladi.<br>
      •	Edit (Pravka) menyusiga tahrirlash va qidirish bilan bog’liq buyruqlar kiradi.<br>
      •	View (Vid) menyusi interfeysning yordamchi elementlarini va gipermatnli hujjat obektlarining ko’rinishlari ustida ishlovchi buyruqlarni o’z ichiga oladi.<br>
      •	Insert (Vstavka) menyusiga har-xil obektlarni import qilish buyruqlari kiradi: rasmlar, jadvallar, formalar, katlamlar, maxsus belgilar va boshqa obektlarni import qilish.<br>
      •	Modify (Izmenit) menyusi o’z ichiga gipermatnli hujjat obektlari atributlarini o’zgartirish buyruqlarini oladi.<br>
      •	Text (Tekst) menyusi o’z ichiga matnli fragmentlarni hosil qilish va ularni formatlash bilan bog’liq buyruqlarni o’z ichiga oladi.<br>
      •	Commands (Komandы) menyusi gipermatnli hujjatlarni avtomatik qayta ishlash buyruqlarini o’z ichiga oladi.<br>
      •	Menyu qatorining Site (Sayt) bo’limi sayt bilan ishlash vositalari va gipermatnli hujjatlar bilan bog’liq murakkab tizimlar vositalarini o’z ichiga olgan.<br>
      •	Window (Okno) menyusi dasturga tegishli palitralar, panellar va muloqot oynalarini o’rnatish va olib tashlash bilan bog’liq buyruqlarni o’z ichiga oladi.<br>
      •	Help (Spravka) menyusida dasturdan foydalanish haqidagi interaktiv malumotlarni chaqirish, elektron qo’llanmani chaqirish kabi buyruqlar joylashgan.<br>
    </p>
    <p nz-typography>
      Uskunalarlar paneli dasturning asosiy dispetcherlik (nozimlik) pulti vazifasini bajaradi. U eng ko’p ishlatiladigan buyruqlar va tahrirlash resurslarini chaqirish tugmalarini birlashtiradi. Bu ixchamgina panel kiritilgan menyu va kichik menyular tizimi navigatsiyasi bilan bog’liq sarf- harajatlarni anchagina qisqartiradi.
    </p>
    <p nz-typography>
      Unda joylashgan barcha boshqaruv elementlarini sanab o’tamiz (chapdan o’ngga).<br><br>


      •	Code View (Rejim razmetki) - gipermatnli hujjatning faqat belgili kodlari tasvirlanadi. (dizayni tasvirlanmaydi).<br><br>
      •	Code and Design View (Rejim razmetki i planirovki). Tugmasi bosilganda hujjat oynasi ikki qismga ajraladi: <br>
      -birinchi oynada belgili kodlar beriladi <br>
      -ikkinchi oynada esa gipermatnli sahifaning dizayni, yani tashqi ko’rinishi beriladi.<br>
      •	Design View (Rejim planirovki). Dasturda ishlashning vizual – WYSIWYG rejimiga o’tish tugmasi.<br>
      •	Title (Zagolovok) – bu matnli maydon hujjatning sarlavhasini kiritishga mo’ljallangan.<br>
      •	File Management (Upravlenie faylami) – tarmoqda malumot almashish uchun xizmat qiladigan fayllar bilan ishlash buyruqlaridan tarkib topgan menyuni ochish tugmasi.<br>
      •	Pteview/Debug in Btowset (Prosmotr/otladka v brouzere) – tugmasi gipermatnli hujjatni ko’rish va undagi Java Sctipt kodlarini tanlangan brouzerda ishlash yoki ishlamasligini tekshiruvchi buyruqlaridan iborat menyuni ochadi.<br>
      •	Teftesh Design View (Obnovit stranitsu) - bu buyruq berilgandan so’ng, hujjatning belgili matnlarida bo’lgan barcha o’zgarishlar loyihalash rejimiga uzatiladi. Ana shu vaqtda kodlarni interpritatsiyasi va sintaksik tekshiruv boshlanadi. Xato fragmentlari sariq rangda ko’rsatiladi. To’g’rilari esa sahifada tasvirlanadi.<br>
      •	Tefetence (Spravka) – tugmasi elektron malumotli qo’llanmani ekranga chiqarib beradi. Bu qo’llanmada gipermatnli belgilash tili deskriptorlari ifodalangan.<br>
      •	Code Navigation (Navigatsiya po kodam) – tugmasi Java Sctipt tilida yozilgan belgili kodlarni tuzatishni boshqaruv buyruqlaridan tarkib topgan menyuni ochadi.<br>
      •	View Options (Parametrы otobrajeniya) – tugmasi hujjat oynasining qo’shimcha elementlari vizualizatsiyasini boshqaruvchi buyruqlar menyusini ochadi. Bu menyuga asosiy menyu qatoridagi View menyusining bir necha buyruqlari kiradi.<br>
    </p>
    <p nz-typography>
      Dreamweaver dasturining barcha versiyalari kontekstli menyu bilan aloqada bo’ladi. Kontekstli menyuning o’lchamlari buyruklari safi kengaydi, qo’shimcha darajalarga ega bo’ldi va endi har qanday holatda chaqirilishi mumkin. 6-rasmda oyna ixtiyoriy bo’sh nuqtasida sichqonchaning o’ng tugmasi bosilsa dastur chiqarib beradigan kontekstli menyuga misol keltirilgan.
    </p>
    <p nz-typography>
      <strong>Property Inspectot (Inspektor svoystv) palitrasi</strong> — bu dasturning asosiy instrumentidir. HTML sahifasida joylashgan obektlar atributlarini o’zgartirish ishlarining asosiy qismini uning yordamida bajariladi. (7-rasm).
      Property Inspectot palitrasi ko’chib yuruvchi palitradan iborat bo’lib, uning tarkibi bajarilayotgan operatsiyaga, tanlangan obekt turiga va kursorning holatiga qarab, mos ravishda o’zgarib turadi. Palitrani ekranga chiqarish uchun quyidagi Window > Properties (Okno > Svoystva) buyruqni berish yoki CTTL+F3 tugmalar kombinatsiyasini bosish kerak. Bu buyruqni qaytadan berish palitrani ekrandan olib tashlaydi
    </p>
    <p nz-typography>
      Dreamweaver o’zining bir qancha qo’shimcha funktsiyalari bilan foydalanuvchilarga manzur bo’ldi: birinchidan, Dreamweaver barcha palitralari erkin holatda turadi. Ularni qaerga surib qo’ysangiz o’sha erda joylasha oladi. Bu esa monitorning ish maydoni xududini boshqaruvning xizmatchi elementlari va hujjatning oynasiga eng optimal bo’lish imkonini beradi. Ikki monitorli tizimda ishlaydigan foydalanuvchilar barcha yordamchi oyna va palitralarni bitta monitorga joylab, ikkinchisida esa hujjatlar bilan ishlashi mumkin. Ikkinchidan, dastur palitralari birlashish xususiyatiga ega. Uchinchidan, barcha ochiq palitralarni dastur ish stolidan olib tashlovchi buyruq mavjud. Bu operatsiyalarni F4 tugmasini bosish bilan ham bajarish mumkin. Bu tugmani takror bosish esa yana tiklash imkonini beradi.
    </p>
    <p nz-typography>
      <strong>Layout (Komponovka) va View (Vid).</strong> Ular maketlash rejimiga o’tish va sahifannig strukturasini tezda yaratishga imkoni beradi. Bu elementlar bilan qisqacha tanishib o’tamiz:<br><br>
      •	Dtaw Layout Cell (Sozdanie maketnoy yacheyki) - maketli katakcha yaratish instrumentini faollashtiradi.<br>
      •	Dtaw Layout Table (Sozdanie maketnoy tablitsы). Maketli jadval yaratish instrumentini faollashtiradi.<br>
      •	Standatd View (Standartnыy rejim). Hujjat bilan ishlashning standart rejimiga o’tish.<br>
      •	Layout View (Rejim maketirovaniya) - Hujjatni maketlash rejimiga o’tish.<br>
    </p>
    <p nz-typography>
      Dаsturning HTML bilаn ishlаsh imkоniyatlаri
      Dteamweavet dasturining yaratuvchilari gipermatnli hujjatlarning ko’plab tahrirlash operatsiyalarini to’g’ridan-to’g’ri HTML deskriptorlari yordamida bajarish mumkin. HTML
       so’zma-so’z tarjimada: gipermatnlarni belgilash tili (HypetText Matkup Language) manosini beradi. HTML tili bu - instruktsiyalar to’plami yoki kiritilgan matn va import qilingan obektlarni ekranda namoyishini taminlab beradigan ifodalardir. Bu tilning elementlarini deskriptorlar yoki teglar deb nomlash qabul qilingan. Ingliz tilidan tag (yorlik, belgi va boshqa manolarni beradi). Deskriptorlarni saqlash uchun ASCII belgilari qo’llaniladi. SHuning uchun har qanday gipermatnli hujjatni belgilashni har qanday oddiy matn muharrirlarida bajarish mumkin. Buning uchun xatto Bloknot dasturi ham etarli.
      Gipermatnli hujjatlarni yaratishning asosiy qoidalari bilan tanishib chiqamiz. HTML tilining kodlari hujjatning matnli massivlari qismi hisoblanadi. Endi deskriptorlar bilan tanishib chiqamiz. Deskriptorlar ikki xil bo’ladi. YAkka va juft deskriptorlar. Juft deskriptorlar ayrim xollarda konteynerlar deyiladi. Hujjatga tegishli matnlar va uning belgili kodlarini ajratish uchun, HTML tili kodlari burchakli qavslarda yoziladi. Masalan, bt yoki p. Juft deskriptorlar (konteynerlar) o’z ichiga deskriptorlar juftligini, ochiladigan (boshlangich) va yopiladigan (oxirgi) deskriptorlar. Bu juftliklar tag  /tag ko’rinishida yozilib, o’z qiymatini juftlik orasidagi hujjat fragmentiga o’tkazadi.
    </p>
    <p nz-typography>
      Micromedia Dreamweaver MX dasturida ishni boshlash uchun «Pusk» tugmasini  bosamiz, «Programmi» (Vse programmi) ni tanlaymiz va «Macromedia» bo`limini bosganimizdan so`ng, Micromedia Dreamweaver MX dasturini yuklaymiz:

      Tanlab bo`lgandan so`ng, ekranga Micromedia Dreamweaver MX dasturi ishga tushadi.<br>



      Uning ishchi oynasi quyidagi ko`rinishda bo`ladi<br>


      Micromedia Dreamweaver MX dasturida quyidagi bo`limlar <br>
      File;<br>
      Edit;<br>
      View;<br>
      Insert;<br>
      Modify;<br>
      Text;<br>
      Commands;<br>
      Site;<br>
      Window;<br>
      Help   joylashgan.<br>
      File - bo`limi tayyorlangan yoki tayyorlanayotgan sahifalar ustida amallar bajaradi, ya`ni fayllarni ochish, berkitish, saqlash, chop etish kabi amallarni bajaradi;<br>
      Edit – bo`limida sahifalar tahrirlanadi;<br>
      View - bo`limida Micromedia Dreamweaver MX dasturi ishchi oynasining ko`rinishini berish mumkin: kod, kod va sahifa, sahifa;<br>
      Insert – turli xil rasmlar, jadvallar, freymlar, tugmachalar, formalar va h.k. larni joylash ishlari shu bo`limda bajariladi;<br>
      Modify – bo`limida sahifaning xususiyatlari, ichki va tashki ishoratlari, jadval va freymlar yaratish kabi amallar bajariladi;<br>
      Text – ishchi stoldagi matnlar ustida turli xil amallar: rang berish, o`lcham qo`yish, sarlavha yoki abzats va h.k. bajarish mumkin;<br>
      Commands-sahifa uchun turli xil buyruqlar bajariladi;<br>
      Site – tayyorlangan saytlar ustida turli xil ishlar olib boriladi;<br>
      Window - bo`limida Micromedia Dreamweaver MX dasturidagi ishchi oynaning ko`rinishi o`zgartirish ishlari olib boriladi;<br>
      Help- Micromedia Dreamweaver MX dasturi haqida ma`lumot olinadi. <br><br>
      Insert bo’limi -Micromedia Dreamweaver MX dasturida Insert bo`limi joylashgan bo`lib, unda quyida bandlar joylashgan bo`lib uning quyi qismida:<br>
      •	dasturning kodi<br>
      •	dasturning sahifasi va kodi<br>
      •	dasturning sahifa ko`rinishlari joylashgan.<br>
    </p>
    <p nz-typography>
      Matnlarni formatlash uchun Micromedia Dreamweaver MX dasturining yuqori menyusida
      joylashgan Text bandidan foydalanamiz Indent-abzats tashlash
      Outdent-abzatsni olib tashlash
      Paragraph Format- Sarlavhani formatlash Align-matnni o`nggi, chapga, o`rtaga va h.k.
      kabi ko`rinishda joylash
      List-ro`yxat va markerlarni tashkil etish Font- Shrift turini berish
      Style-matnning ko`rinishi: ostiga chizilga, to`q qilib yozilgan, og`ma shaklda yozish vash u kabi amallar bajariladi
    </p>
  <br><br><br>
