
<article nz-typography>
<h1 class = "main-title" nz-typography>Mavzu: Ta’limda axborot texnologiyalari fanining predmeti, maqsadi va vazifalari</h1>
  <h3>Reja:</h3>
  <h4>1. Ta’limda AT fanining maqsad va vazifalari.</h4>
  <h4>2.Axborot texnologiyalari, axborot tushunchasi. </h4>
  <h4>3.Axborotlarni kodlash, axborotning o’lchov birliklari.</h4>
<p nz-typography>
  Tayanch iboralar: axborot, axborot texnologiyasi, axborot birliklari, axborot turlari.<br> <br>

  Ta’limda AT –hisoblash texnikasi vositalari bilan ma’lumotlarni yaratish, saqlash, qayta tiklash, qayta ishlash va uzatish usullari, hamda ushbu vositalarni faol yuritish jarayonining tamoyillari va ularni boshqarish usularini tizimlashtiruvchi texnik fan.<br>
  Ta’limda AT ning predmeti – bu axborot va bilimlarni o’zida birlashtiruvchi axborot resursi.<br>
  Ta’limda AT fanining vazifalari<br><br>
  •	Hisoblash texnika vositalarini ishlab chiqish va faol yuritishni tashkil qilish.<br>
  •	Samarali interfeysni ishlab chiqish va tashkil qilish.<br>
  •	Ma’lumotlarni kiritish, qayta ishlash, saqlash va chiqarish.<br>
  •	Tarmoqlarni ishlab chiqish va faol yuritishni tashkil qilish.<br>
  •	Axborot tizimlarniishlab chiqish va faol yuritishni tashkil qilish.<br>
  •	Axborotlarni himoyalash.<br>
  •	Dasturlash.<br><br></p>
  <div style="text-align: center"><img
          nz-image
          width="600px"
          height="400px"
          [nzSrc]="'assets/images/first.jpg'"
          alt=""
   src=""/>
</div><br>
  <p>Axborot texnologiyasi — axborotni to’plash, saqlash, izlash, unga ishlov berish va uni tarqatish uchun foydalaniladigan jami uslublar, qurilmalar, usullar va jarayonlar majmui.
  <br>Axborot tushunchasi. O’zbekiston Respublikasining 2002 yil 12 dekabrdagi 439-II son “Axborot erkinligi printsiplari va kafolatlari to’g’risida”gi Qonuniga binoan, axborot - manbalari va taqdim etilish shaklidan qathiy nazar shaxslar, predmetlar, faktlar, voqealar, hodisalar va jarayonlar to’g’risidagi ma’lumotlardir.
  Axborot keng qamrovli tushuncha bo’lib, o’nga quyidagicha ta’riflar ham berish mumkin:<br>
  •	Dalil, voqea, hodisa, predmet, jarayon kabi ob’ektlar haqidagi bilim hamda tushunchalar yoki buyruqlar;<br><br>
  •	Ma’lum xos matnda aniq mahnoga ega tushunchalarni ichiga olgan dalil, voqea, xodisa, predmet, jarayon, taqdimot kabi ob’ektlar haqidagi bilimlar majmui;<br>
  •	Qiziqish uyg’otishi mumkin bo’lgan, saqlanishi va qayta ishlanishi lozim bo’lgan jami dalil va ma’lumotlar. Kitob matni, ilmiy formulalar, bank hisob raqamidan foydalanish va to’lovlar, dars jadvali, o’lchash majmualarining yer va fazo stantsiyasi o’rtasidagi masofa to’g’risidagi ma’lumotlar va hokazolar axborot bo’lishi mumkin.<br>
  Insoniyat taraqqiyotining asosini axborotni biror maqsadga ko’ra ishlab chiqish, undan foydalanish va uni  saqlash  tashkil  etadi.  Insonning  butun  hayoti  axborotni  qabul  qilish, saqlash va qayta ishlash bilan bog’langan. Umuman olganda, inson bilimi - bu to’plangan va tartiblangan axborotdir.<br><br>
  Har bir odamning hayot kechirishi uchun, masalan, oziq-ovqat mahsulotlari (modda) zarurligi tabiiy. Ammo inson bu moddalardan ularni bir ko’rinishdan boshqa ko’rinishga o’tkazib ham foydalanadi. Buning uchun esa energiyani qo’llaydi. Lyokin inson uchun modda va energiya bilan bir qatorda yana bir muxim bo’lgan tushuncha borki, u modda va  energiyadan  biror maqsadga ko’ra qanday foydalanishni ko’rsatuvchi tushunchadir. Bu tushuncha axborot (informatsiya) deb nomlanadi.
  Biz kitob o’qiymizmi, televizor ko’ramizmi, yoki suhbatlashamizmi bundan qat’iy nazar,  biz doimo axborot qabul qilamiz va qayta ishlaymiz. Boshqacha aytganda, axborotni, insonga ko’rsatilganda, uning holatini o’zgartiruvchi tahsir deb ham tushunish mumkin.<br><br>
  Demak, axborot modda va energiya kabi muhim tushuncha ekan. Axborotlarni to’plash va ularni qayta ishlash kabi jarayonlarni o’z ichiga oladi.<br>

  Axborot so’zi lotincha informatio so’zidan olingan bo’lib, «tushuntirish», «tavsiflash» degan ma’noni anglatadi.<br>
  U asosan, uchta muhim sifatga ega bo’lishi lozim:<br><br>
  •	Axborot o’rganilayotgan narsa yoki hodisani har taraflama to’liq ifodalashi lozim, ya’ni axborot to’liqlik sifatiga ega bo’lishi lozim;<br>
  •	Axborot ma’lum ma’noda qimmatli bo’lishi lozim , aks holda undan foydalanish extiyoji tug’ilmaydi. Bu axborotning qimmatligini, sifatini ifodalaydi;<br>
  •	Axborot ishonchli bo’lishi lozim. Aks holda uni qayta ishlashga zarurat tug’ilmaydi. Axborotlar	uzluksiz   yoki  uzilishli	turlarga   ajratiladi.Masalan,	atrof   muhitdagi	ob-
  havo  holatini   yoki   hozir istagan  vaqtda bilishimiz  mumkin.	Bu uzluksiz	(doimiy) axborot.<br><br>

  Axborotlarni uzatish. Axborotni uzatish deganda ehtiyojdan kelib chiqib, uni bir kishidan ikkinchi kishiga yoki bir kompyuterdan ikkinchi kompyuterga turli vositalar yordamida yetkazib berish tushiniladi. Axborotlarni uzatishning turli xil usullari mavjud bo’lib, ular kompyuter dasturlari yordamida, pochta orqali, transport vositalari yordamida, aloqa tarmog’i orqali uzatish mumkin. Aloqa tarmog’i orqali axborotlarni qisqa vaqt ichida uzoq masofaga uzatish mumkin. Bunda ma’lumotlarni uzatish vaqti sezilarli darajada qisqaradi.<br><br>

  Axborotning turlari: matn, tasvir, animatsiya, audio va video. Ma’lumki, axborotlarni insonlar bir-birigauzatish jarayonida matn ko’rinishdagi, jadval ko’rinishdagi, tovush ko’rinishdagi va tasvir ko’rinishdagi ma’lumotlardan foydalanadi.<br>
  Matn. Matn – bu ma’lumotlarni ifodalash shakli bo’lib, u mazmunan yagona, yaxlit va tanlangan tilning belgilari ketma-ketligidan iborat. Matn hujjat asosidir. Axborot tizimiga matn kiritish klaviatura, nurli pero, mikrofon, yoki skaner yordamida amalga oshiriladi. Matnlarga ishlov berish matn muharriri deb ataluvchi maxsus amaliy dasturlar majmuasi tomonidan amalga oshiriladi. Tarmoq orqali matnlar ma’lumotlar bo’laklari ko’rinishida o’zatiladi.<br>


  <br>Ta’limda AT fanidan ma’ruza mashg’uloti<br><br>

  Tasvir. Tasvir – bu biror voqea, xodisa yoki jarayonlarni o’zida ifodalagan rasm bo’laklari va ranglardan iborat ma’lumotdir. Foto, manzara, matematik funktsiyalar grafigi, statistik ma’lumotlar diagrammasi va shunga o’xshash ma’lumotlar tasvir hisoblanadi. Kompyuter yordamida tasvirlarga ishlov berishni to’rt guruhga ajratish maqsadga muvofiq hisoblanadi:<br><br>
  •	Kulrang va rangli tasvirlar;<br>
  •	Ikki xil va bir necha “rangli” tasvirlar;<br>
  •	Uzluksiz egri va to’g’ri chiziqlar;<br>
  •	Nuqtalar yoki ko’pburchaklar iborat tasvirlar.<br><br>
  Bu turkumlash tasvirni ko’rib idrok qilish mexanizmi bilan emas, balki ularni taqdim etish va qayta ishlashga yondashish bilan bog’liq.<br><br>

  Animatsiya. Animatsiya ma’lum tezlikda tasvirlarni almashtirish mahsulidir. Bunda ma’lum vaqt oralig’ida, ma’lum sondagi bir xil o’lchamga ega bo’lgan tasvirlar tezkor almashtiriladi. Natijada mulg’tiplikatsiyaga o’xshash harakatlanuvchi (animatsion) tasvir hosil bo’ladi. Filmlar va video ma’lumotlarning asosini animatsiyalar tashkil etadi, chunki filmlar namoyishida bir soniyada 25-30 ta tasvir tezkor almashtiriladi. Shundan qilib, videofilm tarkibidagi tasvirlarni hisoblab chiqish mumkin, ya’ni bir soatlik film 3600 soniyani, undagi tasvirlar esa 90 mingtani tashkil etadi.<br>
  <br>Animatsiya orqali quyidagilarni amalga oshirish mumkin: <br>matn axborotini qismlashni;<br>
  tasvir qismlarining so’zsiz harakati jarayonini; rasm harakatlarini;<br>
  tarixiy janglarning so’zsiz harakatini; fizik va kimyoviy jarayonlarni; texnologik jarayonlarni;<br>
  tabiiy hodisalar jarayonini; siyosiy hodisalar jarayonini; ijtimoiy hodisalar jarayonini;<br><br>
  Axborot birliklari, axborotning o’lchov va hajm tushunchalari. Har qanday maxsulotning o’lchov birligi mavjud, masalan litr, metr, kilometr, kilogramm, volt, amper, kubometr va boshqalar. Xuddi sho’nga o’xshash axborotning ham o’lchovi mavjud. Ikkilik sanoq tizimida axborotning eng kichik birligi bit hisoblanadi, bir bit bu bitta “1” yoki bitta “0”. Bunda signalning
  mavjudligi “1” bilan yoki yo’qligi “0” bilan ifodalanadi. Bitlarning butun deb qaraladigan tutash ketma-ketligi bayt deb ataladi. Bayt 8 bitga teng deb qabul qilingan. Shuningdek katta hajmdagi ma’lumotlar sig’imini o’lchash uchun kilobayt (kb), megabayt (mb), gigabayt (gb), terrabayt (tb) va x.k.o’lchamlar mavjud:
.
</p>
</article>