<article nz-typography>
  <h1 style="text-align: center" nz-typography>OLE texnologiyasi bilan ishlash</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>OLE texnologiyasi bilan ishlashni o‘rganish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>OLE texnologiyasining asosiy vositalari bilan tanishish.
    Amaliy jihozlari: Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p>Ole texnologiyasi bilan tanishish <br> Power point bilan word dasturi obyektlari o`rtasida bog`lanishlarni hosil
    qilish<br>Power point bilan excel dasturi obyektlari o`rtasida bog`lanishlarni hosil qilish </p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <p nz-typography>
    Prezentatsiyada tayyor jadvalini qo’llash uchun Excel, Word dasturlarining yordami kerak bo’ladi, chunki jadvalni
    boshqa joyda tuzib prezentatsiyaga joylashtirish mumkin.
  </p>
  <h5>Word - jadvalni Power Pointda ishlatish.</h5>
  <p nz-typography>
    PowerPointda jadval tuzish mumkin. Lekin agar jadval wordda tuzilgan bo’lsa OLE texnologiyasi  HYPERLINK
    "https://hozir.org/talimda-zamonaviy-axborot-texnologiyalari-yangi-imkoniyatlar.html" imkoniyatidan foydalanib uni
    prezentatsiyada qo’llash mumkin. Worddagi jadvalni slayd bilan bog`lash mumkin.
    OLE qisqartirilgan so`z bo’lib obyektlarni bog`lash va tadbiq etish (object linking and embedding) mazmunini
    anglatadi.
    Windowsdagi biror faylni bir dasturdan ikkinchi bir dasturga olib ixcham qilib joylashtirish imkonini beradi.
    Agar biz shu kabi axborotlarni tadbiq etsak, u holda bu axborot saqlanayotgan joyidagi barcha ma`lumotlar bilan
    birga uzatiladi. Ya`ni, har gal bu bog’langan hujjatni ochishda, bu hujjat avtomatik ravishda oldingisiga bog`liq
    holda yangilanadi.
  </p>
  <h5>PowerPoint jadvalini tuzish</h5>
  <p nz-typography>
    Bunda faqat Создать слайд и выбрать слайд с таблицей tugmachasiga murojaat qilish kifoya. Word jadvalini slaydga
    qo’shish biroz murakkab. Jadvalni slaydga joylashtirishdan oldin Windows dasturidagi Буфер обмена da nusxasini olish
    darkor. Bu jarayon quyidagi ko’rinishga ega:
  </p>
  <p nz-typography>
    <br>1. Kursorni xohlagan joyga qo’yib, wordda jadvalni qoraytiramiz va Tablitsa, Videlit tablitsu larni tanlaymiz.
    <br>2. Crtl+C  HYPERLINK "https://hozir.org/5-yangi-baza-yaratib-olamiz-konstruktor-zaprosga-kiramiz-va-ta.html" ni
    bosamiz yoki Правка, Копировать larni tanlaymiz. Natijada qoraytirilgan jadval Буфер обмена da nusxalanadi.
    <br>3. PowerPoint dasturi ishga tushiriladi. Buning uchun Office asboblar panelidagi PowerPoint tugmasi bosiladi.
    <br>4. Slaydlarni ko’rish rejimga o`tiladi va jadvalni o`rnatmoqchi bo’lgan yoki Создать слайд tugmasidan
    foydalanib, yangilanayotgan slayd topiladi.
    <br>5. Правка, Специальная вставка tanlanadi.
    <br>6. Объект Документ Microsoft Word  HYPERLINK "https://hozir.org/fayllar-bilan-ishlash-v4.html" da sichqoncha
    tugmasi bosiladi, keyin Связать селектор tugmasi bosiladi. Вставить ni tanlagach, biz jadvalni tadbiq etamiz va
    boshlangich hujjatlar bilan barcha aloqalarni uzamiz.
    <br>7. ОК tugmasini bosamiz.
    <br>Agar joylashtirilgan jadvaldagi ma‘lumotlarni ko’p marta tahrirlashga to’g’ri kelsa, bunday holatlarda OLE
    texnologiyasi bog’lanishlari samarali natijalarga olib keladi.
  </p>
  <p nz-typography>
    Dasturlararo ma‘lumotlarni uzatish uchun biz ko’p marta Буфер обмена yordamiga muhtoj bo`lamiz. Excel elektron
    jadvalini slayd bilan bog`lash uchun  HYPERLINK "https://hozir.org/axborot-texnologiyalar.html" Excel elektron
    jadvalini ochib, quyidagi qadamlarni bajarish kerak:

  </p>
  <p nz-typography>
    <br>1. Nusxalanuvchi yacheykalar belgilanaadi, Буфер обмена ga nusxa ko’chirish uchun (Ctrl+C) bosiladi.
    <br>2. Slaydlarni saralash rejimida PowerPoint ga ko`chiladi.
    <br>3. Elektron jadval joylashadigan yoki yangi slayd yaratilgan slaydga o`tiladi.
    <br>4. Правка, специальная вставка tanlanadi.
    <br>5. Microsoft Excel dagi Объект Листda qo`yiladi va Связать селектор tugma bosiladi.
    <br>6. OK tugmasi bosiladi.
  </p>
  <p nz-typography>
    <strong>Amaliy ishlarini o’tkazish qoidalari va xavfsizlik choralari:</strong>
    Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
    olinadi.<br>
    Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.
  </p>
  <h5>Topshiriqlar variantlari (masala, misol, keyslar):</h5>
  <p nz-typography>
    Word – jadvalni yarating.<br>
    Word - jadvalni Power Point dasturida ishlatishni OLE texnologiyasi yordamida amalga oshiring.<br>
    Excel jadvallaridan taqdimotda foydalaning.<br>
    OLE texnologiyasidan foydalanganda ma`lumotlar o`rtasidagi bog`liqliklarni kuzating.<br>
  </p>
  <br><br><br>
</article>