<article nz-typography>
  <h1 class = "main-title" nz-typography>Mavzu: Multimediyaning asosiy tushunchalari. Audio va video axborotlar bilan ishlash asoslari. Taqdimot muharrirlari va ularda ishlash</h1>
  <h3>Reja:</h3>
  <h4>1. Multimediyaning asosiy tushunchalari. </h4>
  <h4>2. Audio axborotlar bilan ishlash asoslari. </h4>
  <h4>3.Video axborotlar bilan ishlash asoslari. </h4>
  <p nz-typography>
    <strong>Tayanch iboralar:</strong> Multimedia vositalari, audiokolonka, mikrofon, videoproektor, Web kamera, TV tuner, CD-ROM audio-video vositalari, slayd, animatsiya, prezentatsiya, perexodi, temi, razdel.
  </p>
  <h2>1. Multimediyaning asosiy tushunchalari</h2>
  <p nz-typography>
    O’qitish jarayonida multimedia vositalaridan foydalanish o’qitish sifati va samarasini oshirishning eng qulay usullaridan biri hisoblanadi. Multimedia vositalari yordamida olib borilgan audio-vidio muloqot o’quvchining darsga bo’lgan qiziqishini va bilim olishga bo’lgan xavasini oshiradi. Multimedia vositalariga, jumladan audiokolonka, mikrofon, videoproektor, Web kamera, TV tuner, CD-ROM v.h.lar kiradi.
    Multimedia (multi – ko`p, media – muhit) - bu kompyuter texnologiyasining turli xil fizik ko’rinishga ega bo’lgan (matn, grafika, rasm, tovush, animatsiya, video va h.k) turli xil tashuvchilarda (optik disk, flesh xotira va h.k.) mavjud bo’lgan axborotdan foydalanish bilan bog’liq sohasidir.
    Multimedia foydalanuvchiga fantastik(virtual haqiqiy) dunyoni yaratishda juda ajoyib imkoniyatlarni yaratib beradi, bunda foydalanuvchi chekkadagi sust kuzatuvchi rolini bajarmasdan, balki u yerda avj olayotgan xodisalarda faol ishtirok yetadi; shu bilan birga muloqot foydalanuvchi uchun odatlangan tilda — birinchi navbatda tovushli va videoobrazlar tilida bo’lib o’tadi.
  </p>
  <p nz-typography>
    <strong>Multimediali texnologiya</strong>- bir vaqtning o’zida ma’lumot taqdim etishning bir necha usullaridan foydalanishga imkon beradi: matn, grafika, animatsiya, videotasvir, tovush v.h.
    <br>
    <strong>Multimedia vositalari</strong> - bu apparat va dasturlar to’plami bo’lib, u insonga o’zi uchun tabiiy bo’lgan turli-tuman muhitlarni: tovush, video, grafika, matnlar, animatsiyalarni ishlatgan holda kompyuter bilan muloqot qilish imkonini beradi.
  </p>
  <p nz-typography>
    <strong>Multimedia</strong> — gurkirab rivojlanayotgan zamonaviy axborotlar texnologiyasidir. Uning ajralib turuvchi belgilariga quyidagilar kiradi:<br>
    •	axborotning hilma-hil turlari: an’anaviy (matn, jadvallar, bezaklar va boshqalar), original (nutq musiqa, videofilmlardan parchalar, telekadrlar, animasiya va boshqalar) turlarini bir dasturiy mahsulotda integrasiyalaydi. Bunday integrasiya axborotni ro’yxatdan o’tkazish va aks ettirishning turli qurilmalari: mikrofon, audio-tizimlar, optik kompaktdisklar, televizor, videomagnitafon, videokamera, elektron musikiy asboblardan foydalanilgan holda kompyuter boshqaruvida bajariladi;<br>
    •	muayyan vaqtdagi ish, o’z tabiatiga ko’ra statik bo’lgan matn va grafikadan farqdi ravishda, audio va videosignallar faqat vaqtning ma’lum oraligida ko’rib chiqiladi. Video va audio ahbo rotlarni kompyuterda qayta ishlash va aks etgirish uchun markaziy protsessor tez harakatchanligi, ma’lumotlarni uzatish| shinasining o’tkazish kobiliyati, operativ (tezkor) va video- hotira katta sig’imli tashqi hotira (ommaviy hotira), hajm va kompyuter kirish-chiqish kanallari bo’yicha almashuvi tezligini tahminan ikki baravar oshirilishi talab etiladi;<br>
  </p>
  <p nz-typography>
    Multimedia vositalari asosida o’quvchilarga ta’lim berish va kadrlarni qayta tayyorlashni yo’lga quyish hozirgi kunning dolzarb masalalaridandir. Multimedia tushunchasi 90- yillar boshida hayotimizga kirib keldi. Uning o’zi nima degan savol tug’iladi? Ko’pgina mutahassislar bu atamani turlicha tahlil qilishmoqda. Bizning fikrimizcha, multimedia — bu infor- matikaning dasturiy va tehnikaviy vositalari asosida audio, video, matn, grafika va animasiya (ob’ektlarining fazodagi harakati) effektlari asosida o’quv materiallarini usuvchilarga etkazib berishning mujassamlangan holdagi ko’rinishidir.
  </p>
  <p nz-typography>
    Rivojlangan mamlakatlarda o’qitashning bu usuli, hozirgi kuvda ta’lim sohasi yo’nalishlari bo’yicha tatbiq qilinmoqda. Hatto, har bir oila multimedia vositalarisiz hordiq chiqarmaydigan bo’lib qoldi. Multimedia vositalarining 1981 yildagi yalpi oboroti 4 mlrd. AQSH dollarini tashkil qilgan bo’lsa, 1994 yili esa 16 mlrd. AQSH dollarini tashkil qildi. Hozirgi kunda esa sotilayotgan har bir komp’yuterni multimedia vositalarisiz tasavvur qilib bo’lmaydi. Kompyuterlarning 70-yillarda ta’lim sohasida keng qo’llash yo’lida o’rinishlar zoe ket-ganligi, avvalombor, ular unumdorligining nihoyatda pastligi bilan bog’liq edi. Amaliyot shuni ko’rsatmoqdaki, multimedia vositalari asosida o’quvchilarni o’qitish ikki barobar unumlidir va vaqtdan yutish mumkin. Multimedia vositalari asosida bilim olishda 30 % gacha vaqtni tejash mumkin bo’lib, olingan bilimlar esa hotirada uzoq muddat saqlanib qoladi. Agar o’quvchilar berilayotgan materiallarni ko’rish (video) asosida qabul qilsa, axborotni hotirada saqlab qolinishi 25-30 % oshadi. Bunga qo’shimcha sifatida o’quv materiallari audio, video va grafika ko’rinishda mujassamlashgan holda berilsa, materiallarni hotirada saqlab qolish 75 % ortadi. Bunga biz multimedia vositalari asosida set tillarini o’rganish jarayonida yana bir bor ishonch hosil qildik.
  </p>
  <p nz-typography>
    Shuni aytib o’tish kerakki, kadrlarni qayta tayyorlash yo’lida Jahon Valyuta Fondi, Umumjahon banki, Evropa Ittifoqi komissiyasi kabi nufuzli tashkilotlar katga tajribaga egadirlar. Viz bunga, ushbu tashkilotlar tomonidan tashkil qilingan seminar va konferensiyalarnint ishtirokchisi sifatida yana bir bor ishonch hosil qildik. Avvalombor, o’quv jarayonida zamonaviy kompyuter tehnologiyalaridan foydalanish tahsinga sazovordir.
    O’z o’rnida, multimedia vositalaridan keng foydalanish yo’lida ayrim ob’ektiv muammolar ham mavjud. Bulardan eng asosiysi — o’quvchilar uchun kerak bo’lgan o’quv materiallarini, qonunlarni va boshqa ko’rsatmalarni qo’llanma qilib kompyuter dasturlarini ishlab chiqarishdir. Ishlab chiqilgan kompyuter dasturlarida multimedia elementlarini qo’llash esa, kompakt dikslarni (lazer disklari) qo’llashni talab qiladi. hozirgi kunda bunday ko’riniùdagi kompakt disklarni respublikamizda ishlab chiqarish imkoniyati yo’qdir. Bo’lar ma’lum bir miqdordagi mablag’ni oldindan jalb etishni talab qiladi.
    Bizning fikrimizcha, zamonaviy kompyuter tehnologiyalaridan o’quvchilarga ta’lim berish va qayta tayyorlash jarayonida keng foydalanish, kelajakda etuk va yuqori malakali mutahassislarni kamol toptiradi.
    Multimedia texnologiyasining asosiy tashuvchilari
    CD-ROM (Compact Disk Read Only Memory) CD-R va CD-RW disklar 700 Mb
    DVD – disklar - Taraflari va qatlamlar soniga qarab DVDlar DVD-5, DVD-9, DVD-10, DVD-14, DVD-18 degan nomlarni olishgan. Bu yerda 5, 9, 10, 14, 18 degan sonlar diskda qancha Gb ma’lumot saqlanishi mumkinligini ko’rsatadi. DVDlarga ma’lumotlar sektorlar bo’ylab yoziladi, bir sektorga 2048 bayt ma’lumot yoziladi.
  </p>
  <p nz-typography>
    HD DVD (yuqori aniqlikdagi raqamli universal disk) – DVD disklarga nisbatan yuqori aniqlik va hajmga ega. HD DVD disklar DVD disklarga qaraganda 5 marotaba ko’proq axborotni saqlaydi. HD DVD disklardagi axborotlar bir qatlamli diskda 15Gb, ikki qatlamli diskda 30Gb ni tashkil qiladi.
    Blu-ray Disc, BD (angl. blue ray — xavorang nur va disc — disk;) — optik disk tashuvchi formati bo’lib, raqamli axborotlarni hamda yuqori aniqlikdagi video materiallarni katta zichlikda yozish imkonini beradi. Blu-ray Disc dagi axborotlarni o’qishda qisqa to’lqinli lazer (405 nm) dan foydalaniladi. Ushbu disklardagi axborot hajmi bir qatlamli diskda 25Gb, ikki qatlamli diskda 50Gb ni tashkil qiladi.
    Axborotli qo’lqop – virtuallik oshirish maqsadida ishlatiluvchi qo’lqop bo’lib, u yordamida virtual borliqdagi predmetlarni ushlash, surish va harakatga keltirish mumkin
    VR-kostyum - virtual borliqning eng to’liq to’plamli qurilmasi hisoblanadi. Tananing barcha nuqtalaridagi harakatni kuzatib boruvchi ko’pgina magnitli sensorlardan iborat kombinzon.
    Multimedia vositalari o’quvchiga yakka tartibda shugullanish imkonini beradi. O’quvchi o’qituvchining bevosita ishtirokisiz ham materialni mustaqil o’zlashtirishi mumkin bo’ladi.
    Hozirda multimedia so’zi kundalik ilmiy-ixtisosiy faoliyatimizda juda ko’p ishlatilmokda. Ta’limda multimedia texnologiyalarini tadbik etish uchun dastlab "Multimedia nima o’zi?", degan savolga javob beraylik. Turli kasb mutaxassislari bu atamani turli xil izohlamokdalar. Ularning fikrlarini umumlashtirib multimediaga shunday tahrif berish mumkin:
  </p>
  <p nz-typography>
    <strong>Multimedia</strong> - bu informatikaning dasturiy va texnikaviy vositalari yordamida o’quv materiallarini tinglovchilarga to’liq yetkazib berishning mujassamlashgan holdagi ko’rinishidir.
  </p>
  <p nz-typography>
    Multimedia hozirda juda tez rivojlanayotgan zamonaviy axborot texnologiyalaridan bo’lib, u quyidagi an’anaviy axborot turlarini: matn, jadval, turli xil bezaklar hamda original axborot turlarini: nutk, musika, telekadrlar, videofilg’mlardan parchalar, lavxalar, animatsiya ko’rinishdagi axborotlarni o’z ichiga oladi: <br><br>
    •	video va audio axborotlarni kompyuterda qayta ishlash va aks ettirish uchun markaziy protsessorning harakatchanligini, ma’lumotlarni uzatish shinasining o’tkazish qobiliyatini, tezkor va video-xotira hajmini, katta sig’imli tashqi xotirani, kompyuter kirish-chiqish kanallari bo’yicha almashuv tezligini taxminan ikki baravarga oshirish talab etiladi;<br>
    •	"inson-kompyuter-inson" interfaol muloqotining yangi darajasining ta’minlanishi nazarda tutiladi. Foydalanuvchi, texnik muloqot jarayonida ancha keng va har tomonlama mukammal axborotlarni olishi osonlashadi va tezlashadi.<br>
    •	Multimedia vositalarining afzalliklari va uni ta’limda qo’llash muammolari. Hozirgi amaliyot shuni ko’rsatmoqdaki, multimedia vositalari yordamida tinglovchilarni o’qitish an’anaviy ta’limdan ikki barobar samarali bo’lmoqda.<br><br>
          	Ta’lim sohasida multimedia vositalari yordamida tinglovchilarga bilim berish afzalliklari quyidagilardan iborat:<br><br>
    •	ta’lim jarayonida berilayotgan materiallarni chuqurroq va mukammalroq o’zlashtirish imkoniyatining mavjudligi;<br>
    •	ta’limning turli shakllaridan bir vaqt o’zida foydalanish imkoniyatining paydo bo’lishi.<br>
    •	boshqa fan sohalari bilan yaqindan aloqa qilish ishtiyoqini yanada oshishi;<br>
    •	dars jarayonida bilim olish vaqtining qisqarishi natijasida vaqtni tejash imkoniyatiga erishilishi;<br>
    •	olingan bilimlarning kishi xotirasida uzoq muddat saqlab qolish va uni amaliyotda qo’llash mumkinligi.<br>
    •	Multimediani ta’lim jarayoniga qo’llashning ayrim muammolari ham mavjud, jumladan:<br><br>
    •	ta’lim uchun zarur bo’lgan o’quv materiallarini hamda boshqa zaruriy ko’rsatmalarni elektron qo’llanma shaklida yoki o’quv kompyuter dasturlari ko’rinishida ishlab chiqish;<br>
    •	ishlab chiqilgan o’quv kompyuter dasturlari uchun multimedia elementlarini qo’llash.<br>
  </p>
  <h6>Windows Media Player dasturini ishlatishni kurib o'tamiz.</h6>
  <p nz-typography>

    Windows urnatilgan barcha kompyuterlarda Windows Media Player dasturi Windows bilan birgalikda o’rnatilgan bo’ladi. Windows Media Player dasturini ishga tushirish uchun Windowsning Pusk tugmasi bosiladi, keyin Bosh menyudagi Programmq menyu ostidan Standartnqe qismiga kiriladi va Windows Media Player ishlatiladi.
    <br>•	Ilgari qo’yilgan narsani ochish paytida ekranda "o’ng?ltig" (bekor) degan xabar paydo bo’lishi mumkin. Bu kompyuterning noto’g'ri qo’shilganidan yoki saqlab qo’yilgan narsa noto’g’ri saqlab qo’yilganidan darak beradi.
    <br>•	"Reset" funktsiyasi bu proyektsiya ko’rsatkichida faqatgina "RGB-Standart Modusi"da ishlaydi.

  </p>
  <p nz-typography>
    Videoko’z-qog’ozdagi yoki tayyorlangan o’quv materiallardagi barcha tasvir, tekst, jadvallarni ekranga chiqarish uchun xizmat qiladi. Videoko’zdan olingan tasvirni kompyuterga rasm, videolavxa ko’rinishda ko’chirib olish yoki to’g’ridan –to’g’ri Videoproektor orqali ekranga chiqarish mumkin.
  </p>
  <p nz-typography>
    Tuzilishi: <br>
    •	korpus<br>
    •	tok manbasiga ulash uchun shnur<br>
    •	ko’z<br>
    •	stoyka<br>
    •	tugmalar majmui<br><br>
    Videoko’zdan foydalanish:<br><br>
    •	videoko’zni videoproyektorga ulagan holda yoki kompyuterga ulangan holda ishlatish mumkin<br>
    •	videoko’zni kompyuterga ulash mumkin.<br>
  </p>
  <p nz-typography>
    Nusxa ko’chirish qurilmasi tayyor materiallardan nusxalar ko’chirish uchun qo’llaniladigan qurilma. Uni ishlash printsipi quyidagicha:
    qurilmani ishga tushirish uchun o’ng burchakdagi yokish tugmachasi bosiladi va qurilma bir necha daqiqaga kizish uchun qo’yib qo’yiladi;
    qurilma qizigandan so’ng ustki qopqog'i ochilib, nusxa ko’chirilishi kerak bo’lgan material kerakli o’lchamga moslashtirilib qo’yiladi va qopqoq yopiladi;
    qurilmada materialdan ko’chiriladigan nusxalar soni, unining o’lchami, formati, qog’ozlarning kallaklardagi joylashuvini boshqaruvchi tugmalar haqida tushunchalar beriladi;
    Kerakli ma’lumotlar kiritilgandan so’ng "start" tugmasi bosiladi va qurilma ishga tushadi va nusxani chiqarib beradi;
    Ishni tugatishdan oldin, yuqori qopqoq ochiladi va material u yerdan olinadi va qurilma o’chiriladi;
    Video ikkilik. Ta’lim jarayonida video, audio lavxalarni namoyish qilishda keng foydalaniladi. Ekrani katta televizorlarni katta ekran sifatida videoko’z orqali materiallarni namoyish qilishda foydalanilsa ham bo’ladi.
    Raqamli fotoapparat- seminardagi yoki dars jarayonidagi olingan rasmlarni kompyuterga olinib uni qayta ishlash orqali slayd, videoproektor, kodoskop yordamida namoyish qilinishi mumkin.
    Skaner (tasvirda kompyuterga nusxa olish qurilmasi). Hozirgi kunda imkoniyat skanerlari grafik imkoniyatlardan kelib chiqqan holda har xil turlari mavjud. Skaner asosan har xil ma’lumotlarni kompyuterga ko’chirib nusxa olish uchun ishlatiladi. Nusxa olingan ma’lumotlarni kompyuter imkoniyatlaridan kelib chiqib har xil ko’rinishga o’tkazish mumkin. Skanerlarni ishlatishda programmistlardan foydalanishni maslaxat berimiz. CHunki skanerni ishlatish bu kompyuterda ishlash malakasiga bog’liq.
  </p> <br> <br> <br>
